@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");
@import url("https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic");
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/iconLogo.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-brush-build:before {
  content: "\e900";
}

._icon-brush:before {
  content: "\e901";
}

._icon-facebook:before {
  content: "\e902";
}

._icon-house:before {
  content: "\e903";
}

._icon-inst:before {
  content: "\e904";
}

._icon-phone:before {
  content: "\e905";
}

._icon-window:before {
  content: "\e906";
}

._icon-Picsart_24-09-05_15-39-11-044:before {
  content: "\e911";
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 18px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Inter";
  position: relative;
}
body._lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 1386px;
  padding: 0 20px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.title {
  font-size: 42px;
  font-weight: 700;
  line-height: 160%;
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #083656;
}
@media (max-width: 600px) {
  .title {
    font-size: 35px;
  }
}

.sut-title {
  color: #083656;
  font-family: Rubik;
  font-weight: 300;
  line-height: 64.2857142857%;
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.78);
  z-index: 100;
  display: flex;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease-in-out;
}
.popup__container {
  max-width: 700px;
}
.popup__body {
  padding-top: 150px;
  padding-bottom: 30px;
}
@media (max-width: 1346px) {
  .popup__body {
    padding-top: calc(40px + 110 * (100vw - 320px) / 1026);
  }
}
.popup__content {
  background-color: #fff;
  border-radius: 25px;
  padding: 25px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup__or {
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}
.number-popup__title {
  font-size: 25px;
  margin-bottom: 20px;
}
.number-popup__button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.number-popup__button a {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  min-height: 50px;
  padding: 0 30px;
  color: #fff;
  transition: all 300ms ease-in-out;
  background-color: #083656;
}

.send-popup__title {
  font-size: 25px;
}
.send-popup__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.send-popup__name {
  flex: 0 1 45%;
}
.send-popup__name input {
  width: 100%;
  border: 1px solid #083656;
  border-radius: 5px;
  min-height: 35px;
  padding: 0 15px;
}
.send-popup__mail {
  flex: 0 1 45%;
}
.send-popup__mail input {
  width: 100%;
  border: 1px solid #083656;
  border-radius: 5px;
  min-height: 35px;
  padding: 0 15px;
}
.send-popup__btn {
  flex: 0 1 100%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.send-popup__btn button {
  background-color: #083656;
  color: #fff;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 45px;
  padding: 0 25px;
  border-radius: 10px;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
}
.header__container {
  display: flex;
  align-items: center;
  min-height: 100px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  justify-content: space-between;
}
@media (max-width: 660px) {
  .header__container {
    min-height: 60px;
  }
}
.header__logo {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}
.header__img {
  max-width: 70px;
}
.header__img img {
  max-width: 100%;
}
.header__name {
  color: #61CDFB;
  font-size: 25px;
  font-weight: 600;
}
.header__menu {
  display: flex;
  justify-content: center;
}
@media (max-width: 690px) {
  .header__menu {
    display: none;
  }
}
.header__contact {
  white-space: nowrap;
}
.header__contact-link {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  min-height: 50px;
  padding: 0 30px;
  color: #BDEDF8;
  transition: all 300ms ease-in-out;
  border: 1px solid #BDEDF8;
}
.header__contact-link:hover {
  color: #083656;
  background-color: #BDEDF8;
}
@media (max-width: 360px) {
  .header__contact-link {
    font-size: 12px;
    min-height: 30px;
    padding: 0 13px;
  }
}
@media (max-width: 470px) {
  .header__contact-link {
    display: none;
  }
}
.header__add-link {
  visibility: hidden;
  display: none;
  color: #083656;
  background-color: #0EABDE;
  padding: 10px;
  border-radius: 50%;
  font-size: 19px;
}
.header__add-link::before {
  display: none;
}
@media (max-width: 470px) {
  .header__add-link::before {
    display: block;
  }
}
@media (max-width: 470px) {
  .header__add-link {
    display: block;
    visibility: visible;
  }
}

.menu__list {
  display: flex;
  -moz-column-gap: 44px;
       column-gap: 44px;
  row-gap: 12px;
  flex-wrap: wrap;
}
.menu__link {
  color: #BDEDF8;
  font-weight: 400;
  line-height: 22px;
  transition: all 300ms ease-in-out;
  position: relative;
  white-space: nowrap;
}
.menu__link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: #0EABDE;
  transition: all 300ms ease-in-out;
}
.menu__link:hover {
  color: #0EABDE;
}
.menu__link:hover:before {
  width: 100%;
}

.main {
  background-color: #083656;
  position: relative;
}
.main__container {
  position: relative;
  z-index: 7;
  min-height: 100vh;
  padding-top: 80px;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 7vh;
}
.main__content {
  text-align: center;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__title {
  font-size: 60px;
  font-weight: 600;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 2vh;
  line-height: 120%;
  color: #fff;
}
.main__title span {
  color: #61CDFB;
  font-size: 60px;
  font-weight: 600;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 440px) {
  .main__title {
    font-size: 45px;
  }
  .main__title span {
    font-size: 45px;
  }
}
.main__text {
  color: #BDEDF8;
  font-family: Rubik;
  font-size: 20px;
  font-weight: 300;
  line-height: 140%;
  margin-bottom: 7vh;
}
@media (max-width: 440px) {
  .main__text {
    font-size: 18px;
  }
}
.main__button a {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  background-color: inherit;
  border: 1px solid #BDEDF8;
  font-weight: 500;
  color: #BDEDF8;
  border-radius: 10px;
  min-height: 54px;
  padding: 0 30px;
  transition: all 300ms ease-in-out;
}
.main__button a::before {
  font-weight: 500;
  font-size: 19px;
}
.main__button a:hover {
  background-color: #BDEDF8;
  color: #083656;
}
.main__button a:hover::before {
  color: #083656;
}
@media (max-width: 440px) {
  .main__button a {
    font-size: 18px;
  }
}
@media (max-width: 700px) {
  .main__button a {
    background-color: #083656;
    color: #fff;
  }
}

.bg-img-1 {
  position: absolute;
  bottom: 8vh;
  left: 7vw;
  z-index: 4;
  max-width: 150px;
  transform: scale(-1, 1);
}
.bg-img-1 img {
  max-width: 100%;
}
@media (max-width: 440px) {
  .bg-img-1 {
    max-width: 150px;
  }
}

.bg-img-2 {
  position: absolute;
  top: 8vh;
  right: 7vw;
  z-index: 4;
  max-width: 150px;
}
.bg-img-2 img {
  max-width: 100%;
}
@media (max-width: 440px) {
  .bg-img-2 {
    max-width: 150px;
  }
}

.service {
  position: relative;
  background-color: #BDEDF8;
}
.service__bg-img-1 {
  position: absolute;
  bottom: 8vh;
  left: 2vw;
  z-index: 4;
}
.service__bg-img-1 img {
  max-width: 100%;
}
.service__bg-img-2 {
  position: absolute;
  top: 0vh;
  right: 2vw;
  z-index: 4;
  transform: rotate(180deg);
}
.service__bg-img-2 img {
  max-width: 100%;
}
.service__container {
  padding-top: 80px;
  padding-bottom: 60px;
  position: relative;
  z-index: 6;
}
@media (max-width: 1346px) {
  .service__container {
    padding-top: calc(40px + 40 * (100vw - 320px) / 1026);
  }
}
@media (max-width: 1346px) {
  .service__container {
    padding-bottom: calc(30px + 30 * (100vw - 320px) / 1026);
  }
}
.service__items {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 25px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 680px) {
  .service__items {
    justify-content: space-between;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (max-width: 680px) {
  .service__items {
    flex-direction: column;
    align-items: center;
  }
}
.service__item {
  flex: 0 1 40%;
  border-radius: 40px;
  background-color: #BDEDF8;
  border: 1px solid #083656;
  padding: 45px 35px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
@media (max-width: 680px) {
  .service__item {
    flex: 0 1 47%;
  }
}
@media (max-width: 580px) {
  .service__item {
    flex: 0 1 80%;
  }
}
@media (max-width: 678px) {
  .service__item {
    background-color: #083656;
  }
}
.service__item:hover {
  background-color: #083656;
}
.service__item:hover .item-service__icon {
  color: #fff;
}
.service__item:hover .item-service__title {
  color: #fff;
}
.service__item:hover .item-service__text {
  color: #fff;
}

.item-service {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-service__icon {
  display: flex;
  color: #083656;
  align-items: center;
  justify-content: center;
  font-size: 65px;
  border-radius: 50%;
  margin-bottom: 16px;
  transition: all 300ms ease-in-out;
}
@media (max-width: 678px) {
  .item-service__icon {
    color: #fff;
  }
}
.item-service__title {
  color: #083656;
  font-family: Inter;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 1%;
  text-transform: capitalize;
  margin-bottom: 30px;
  transition: all 300ms ease-in-out;
}
@media (max-width: 678px) {
  .item-service__title {
    color: #fff;
  }
}
.item-service__text {
  color: #083656;
  font-weight: 500;
  line-height: 166.6666666667%;
  letter-spacing: 1%;
  text-align: center;
  transition: all 300ms ease-in-out;
}
@media (max-width: 678px) {
  .item-service__text {
    color: rgb(229, 229, 229);
  }
}

.item-service__icon-brush {
  font-size: 55px;
  padding: 16px;
}

.cost {
  background: #083656;
}
.cost__container {
  padding-top: 60px;
  padding-bottom: 80px;
}
@media (max-width: 1346px) {
  .cost__container {
    padding-top: calc(30px + 30 * (100vw - 320px) / 1026);
  }
}
@media (max-width: 1346px) {
  .cost__container {
    padding-bottom: calc(40px + 40 * (100vw - 320px) / 1026);
  }
}
.cost__titles {
  margin-bottom: 70px;
}
@media (max-width: 1346px) {
  .cost__titles {
    margin-bottom: calc(30px + 40 * (100vw - 320px) / 1026);
  }
}
.cost__slide {
  border-radius: 40px;
  border: 1px solid #BDEDF8;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.cost__title {
  color: #BDEDF8;
}
.cost__sub-title {
  color: #BDEDF8;
}

.slide-cost__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 78px 20px 30px 20px;
  min-height: 530px;
  transition: all 300ms ease-in-out;
}
@media (max-width: 1060px) {
  .slide-cost__body {
    padding: 45px 20px 30px 20px;
  }
}
@media (max-width: 940px) {
  .slide-cost__body {
    min-height: 370px;
    padding: 30px 20px 30px 20px;
  }
}
.slide-cost__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slide-cost__icon {
  font-size: 70px;
  color: #BDEDF8;
  margin-bottom: 35px;
  transition: all 300ms ease-in-out;
}
@media (max-width: 940px) {
  .slide-cost__icon {
    margin-bottom: 10px;
  }
}
@media (max-width: 660px) {
  .slide-cost__icon {
    font-size: 50px;
  }
}
@media (max-width: 590px) {
  .slide-cost__icon {
    font-size: 60px;
  }
}
.slide-cost__title {
  color: #BDEDF8;
  font-family: Inter;
  font-size: 25px;
  font-weight: 700;
  line-height: 150%;
  text-transform: capitalize;
  margin-bottom: 25px;
  transition: all 300ms ease-in-out;
}
@media (max-width: 940px) {
  .slide-cost__title {
    margin-bottom: 10px;
  }
}
@media (max-width: 660px) {
  .slide-cost__title {
    font-size: 20px;
  }
}
@media (max-width: 590px) {
  .slide-cost__title {
    font-size: 23px;
  }
}
.slide-cost__cost {
  color: #BDEDF8;
  font-size: 30px;
  line-height: 150%;
  font-weight: 600;
  margin-bottom: 20px;
  transition: all 300ms ease-in-out;
}
@media (max-width: 940px) {
  .slide-cost__cost {
    margin-bottom: 10px;
  }
}
@media (max-width: 660px) {
  .slide-cost__cost {
    font-size: 20px;
  }
}
@media (max-width: 590px) {
  .slide-cost__cost {
    font-size: 23px;
  }
}
.slide-cost__text {
  text-align: center;
  color: #BDEDF8;
  font-weight: 500;
  line-height: 150%;
  transition: all 300ms ease-in-out;
  margin-bottom: 20px;
}
@media (max-width: 660px) {
  .slide-cost__text {
    font-size: 16px;
  }
}
@media (max-width: 590px) {
  .slide-cost__text {
    font-size: 18px;
  }
}
.slide-cost__button a {
  display: flex;
  -moz-column-gap: 7px;
       column-gap: 7px;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  color: #BDEDF8;
  font-family: Manrope;
  font-size: 18px;
  font-weight: 200;
  line-height: 150%;
  border: 1px solid #BDEDF8;
  border-radius: 10px;
  min-height: 55px;
  padding: 0px 30px;
  transition: all 300ms ease-in-out;
}
.slide-cost__button a::before {
  font-size: 20px;
}
.slide-cost__button a:hover {
  background-color: #BDEDF8;
  color: #083656;
}
@media (max-width: 660px) {
  .slide-cost__button a {
    font-size: 16px;
  }
}
@media (max-width: 590px) {
  .slide-cost__button a {
    font-size: 18px;
  }
}

.cost-window::before {
  font-size: 85px;
}
@media (max-width: 660px) {
  .cost-window::before {
    font-size: 65px;
  }
}
@media (max-width: 590px) {
  .cost-window::before {
    font-size: 75px;
  }
}

.swiper-slide-active .cost__slide {
  background-color: #BDEDF8;
}
.swiper-slide-active .slide-cost__icon {
  color: #083656;
}
.swiper-slide-active .slide-cost__title {
  color: #083656;
}
.swiper-slide-active .slide-cost__cost {
  color: #083656;
}
.swiper-slide-active .slide-cost__text {
  color: #083656;
}
.swiper-slide-active .slide-cost__button a {
  color: #083656;
  border: 1px solid #083656;
}
.swiper-slide-active .slide-cost__button a:hover {
  background-color: #083656;
  color: #BDEDF8;
}

.cost__pagination {
  margin-top: 30px;
  text-align: center;
}
.cost__pagination span {
  background-color: #BDEDF8;
}

.footer {
  background-color: #BDEDF8;
}
.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  position: relative;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.footer__content::after, .footer__content::before {
  content: "";
  width: 10000px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: -5000px;
}
.footer__content::after {
  bottom: 0;
  left: -5000px;
}
.footer__content::before {
  top: 0;
  left: -5000px;
}
@media (max-width: 465px) {
  .footer__content {
    align-items: center;
    justify-content: center;
  }
}
.footer__logo {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}
@media (max-width: 465px) {
  .footer__logo {
    justify-content: center;
  }
}
.footer__img {
  max-width: 70px;
}
.footer__img img {
  max-width: 100%;
}
.footer__name {
  color: #083656;
  font-size: 25px;
  font-weight: 600;
}
.footer__social {
  margin-top: 20px;
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.footer__social a {
  color: #083656;
  padding: 7px;
  border-radius: 10px;
  font-size: 25px;
  transition: all 300ms ease-in-out;
}
.footer__social a:hover {
  color: #083656;
  background-color: #fff;
}
@media (max-width: 780px) {
  .footer__social a {
    color: #083656;
    background-color: #fff;
  }
}
@media (max-width: 465px) {
  .footer__social {
    justify-content: center;
  }
}
.footer__text {
  max-width: 300px;
  text-align: center;
  color: #083656;
  line-height: 120%;
}
@media (max-width: 465px) {
  .footer__text {
    display: none;
  }
}
.footer__copy-right {
  color: #5F5F5F;
  opacity: 0.8;
  padding: 15px 0;
}
@media (max-width: 465px) {
  .footer__copy-right {
    text-align: center;
  }
}

.footer__text_info {
  display: none;
}
@media (max-width: 465px) {
  .footer__text_info {
    margin-top: 20px;
    display: block;
    text-align: center;
  }
}