%ic{
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"]{
  &:before{
    @extend %ic;
    display: block;
  }
}

._icon-facebook:before {
	content: "\e900";
 }
 ._icon-graph:before {
	content: "\e901";
 }
 ._icon-inst:before {
	content: "\e902";
 }
 ._icon-pintrest:before {
	content: "\e903";
 }
 ._icon-play:before {
	content: "\e904";
 }
 ._icon-send:before {
	content: "\e905";
 }
 ._icon-wallet:before {
	content: "\e906";
 }
 ._icon-youtube:before {
	content: "\e907";
 }