%ic{
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"]{
  &:before{
    @extend %ic;
    display: block;
  }
}

._icon-spray:before {
	content: "\e90b";
}
._icon-biuro:before {
	content: "\e900";
}
._icon-email:before {
	content: "\e901";
}
._icon-restaurant:before {
	content: "\e902";
}
._icon-school:before {
	content: "\e903";
}
._icon-brush-build:before {
	content: "\e904";
}
._icon-brush:before {
	content: "\e905";
}
._icon-facebook:before {
	content: "\e906";
}
._icon-house:before {
	content: "\e907";
}
._icon-inst:before {
	content: "\e908";
}
._icon-phone:before {
	content: "\e909";
}
._icon-window:before {
	content: "\e90a";
 }
 