//Контейнер.............................................
$container-width:1120px;
$main-offset:20px;
//Шрифты.............................................
$font-family:'Inter';
$main-color: rgb(102, 102, 102);
$font-size:18px;
//Прочее.............................................
$default-trans:all 300ms ease-in-out;