//Контейнер.............................................
$container-width:1346px;
$container: 1346;
$main-offset:20px;
//Шрифты.............................................
$font-family:'Inter';
$main-color: #337DF6;
$font-size:18px;
//Прочее.............................................
$default-trans:all 300ms ease-in-out;