//Контейнер.............................................
$container-width:1346px;
$container: 1346;
$main-offset:20px;
//Шрифты.............................................
$font-family:'Inter';
$main-color: #083656;
$second-color: #0EABDE;
$third-color: #61CDFB;
$fouth-color: #BDEDF8;
$font-size:18px;
//Прочее.............................................
$default-trans:all 300ms ease-in-out;