.cost {
	background: $main-color;

	&__container{
		@include adaptive-value('padding-top', 60, 30);
		@include adaptive-value('padding-bottom', 80, 40);
		
	}

	&__titles{
		@include adaptive-value('margin-bottom', 70, 30);
	}

	&__slide {
		border-radius: 40px;
		border: 1px solid $fouth-color;
		transition: $default-trans;
		cursor: pointer;
	}

	&__title{
		color: $fouth-color;
	}

	&__sub-title{
		color: $fouth-color;
	}
}

.slide-cost {
	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 78px 20px 30px 20px;
		min-height: 530px;
		transition: $default-trans;

		@media (max-width: 1060px) {
			padding: 45px 20px 30px 20px;
		}

		@media (max-width: 940px) {
			min-height: 370px;
			padding: 30px 20px 30px 20px;
		}
	}

	&__content{
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__icon {
		font-size: 70px;
		color: $fouth-color;
		margin-bottom: 35px;
		transition: $default-trans;

		@media (max-width: 940px) {
			margin-bottom: 10px;
		}

		@media (max-width: 660px) {
			font-size: 50px;
		}

		@media (max-width: 590px) {
			font-size: 60px;
		}
	}

	&__title {
		color: $fouth-color;
		font-family: Inter;
		font-size: 25px;
		font-weight: 700;
		line-height: 150%;
		text-transform: capitalize;
		margin-bottom: 7px;
		transition: $default-trans;

		@media (max-width: 940px) {
			margin-bottom: 10px;
		}

		@media (max-width: 660px) {
			font-size: 20px;
		}

		@media (max-width: 590px) {
			font-size: 23px;
		}
	}

	&__subtitle{
		color: $fouth-color;
		font-size: 19px;
		line-height: 120%;
		font-weight: 600;
		@include adaptive-value('margin-bottom', 30, 20);
		transition: $default-trans;
	}

	&__cost {
		span{
			color: $fouth-color;
			font-size: 19px;
			@include adaptive-value('font-size', 19, 16);
			line-height: 120%;
			font-weight: 700;
			transition: $default-trans;

			@media (max-width: 660px) {
				font-size: 20px;
			}
		}

		margin-bottom: 5px;
		transition: $default-trans;

		@media (max-width: 940px) {
			margin-bottom: 10px;
		}

		@media (max-width: 660px) {
			font-size: 20px;
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		text-align: left;
		color: $fouth-color;
		font-weight: 500;
		line-height: 150%;
		transition: $default-trans;
		margin-bottom: 20px;

		@media (max-width: 660px) {
			font-size: 16px;
		}

		@media (max-width: 590px) {
			font-size: 18px;
		}
	}

	&__button {
		a{
			display: flex;
			column-gap: 7px;
			flex-direction: row-reverse;
			align-items: center;
			justify-content: center;
			color: $fouth-color;
			font-family: Manrope;
			font-size: 18px;
			font-weight: 200;
			line-height: prc(24, 16);
			border: 1px solid $fouth-color;
			border-radius: 10px;
			min-height: 55px;
			padding: 0px 30px;
			transition: $default-trans;

			&::before{
				font-size: 20px;
				
			}

			&:hover{
				background-color: $fouth-color;
				color: $main-color;
			}

			@media (max-width: 660px) {
				font-size: 16px;
			}

			@media (max-width: 590px) {
				font-size: 18px;
			}
		}
	}
}

.cost-window{
	&::before{
		font-size: 85px;

		@media (max-width: 660px) {
			font-size: 65px;
		}

		@media (max-width: 590px) {
			font-size: 75px;
		}
	}
}

.swiper-slide-active{
	.cost__slide{
		background-color: $fouth-color;
	}
	.slide-cost__icon{
		color: $main-color;
	}
	.slide-cost__title{
		color: $main-color;
	}
	.slide-cost__subtitle{
		color: $main-color;
	}
	.slide-cost__cost{
		color: $main-color;

		span{
			color: $main-color;
		}
	}
	.slide-cost__text{
		color: $main-color;
	}
	.slide-cost__button{
		a{
			color: $main-color;
			border: 1px solid $main-color;

			&:hover{
				background-color: $main-color;
				color: $fouth-color;
			}
		}
	}
}

.cost__pagination{
	margin-top: 30px;
	text-align: center;
	span{
		background-color: $fouth-color;
	}
}

.ps{
	margin-top: 30px;
	color: rgb(255, 255, 255, 0.5);
	line-height: 120%;
}