.header {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;

	&__container{
		display: flex;
		align-items: center;
		min-height: 100px;
		column-gap: 20px;
		justify-content: space-between;
		@media (max-width: 660px) {
			min-height: 60px;
		}
	}

	&__logo {
		flex: 0 0 auto;
		display: flex;
		align-items: center;
	}

	&__img {
		max-width: 70px;
		img{
			max-width: 100%;
		}
	}

	&__name {
		color: $third-color;
		font-size: 25px;
		font-weight: 600;
	}

	&__menu {
		display: flex;
		justify-content: center;
		@media (max-width: 690px) {
			display: none;
		}
	}

	&__contact {
		white-space: nowrap;
	}

	&__contact-link{
			font-family: Rubik;
			font-size: 16px;
			font-weight: 500;
			line-height: 19px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 10px;
			min-height: 50px;
			padding: 0 30px;
			color: $fouth-color;
			transition: $default-trans;
			border: 1px solid $fouth-color;

			&:hover{
				color: $main-color;
				background-color: $fouth-color;
			}

			@media (max-width: 360px) {
				font-size: 12px;
				min-height: 30px;
				padding: 0 13px;
			}

			@media (max-width: 470px) {
				display: none;
			}
	}

	&__add-link{
		visibility: hidden;
		display: none;
		color: $main-color;
		background-color: $second-color;
		padding: 10px;
		border-radius: 50%;
		font-size: 19px;

		&::before{
			display: none;
			@media (max-width: 470px) {
				display: block;
			}
		}

		@media (max-width: 470px) {
			display: block;
			visibility: visible;
		}
	}
}

.menu {

	&__list {
		display: flex;
		column-gap: 44px;
		row-gap: 12px;
		flex-wrap: wrap;
	}

	&__link{
		color: $fouth-color;
		font-weight: 400;
		line-height: 22px;
		transition: $default-trans;
		position: relative;
		white-space: nowrap;

		&::before{
			content: '';
			position: absolute;
			bottom: -2px;
			left: 0;
			height: 2px;
			width: 0%;
			background-color: $second-color;
			transition: $default-trans;
		}

		&:hover{
			color: $second-color;
			&:before{
				width: 100%;
			}
		}
	}
}
