.main {
		background-color: $main-color;
		position: relative;
		&__container {
			position: relative;
			z-index: 7;
			min-height: 100vh;
			padding-top: 80px;
			align-items: center;
			display: flex;
			justify-content: center;
			padding-bottom: 7vh;
		}

		&__content {
			text-align: center;
			max-width: 600px;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__title {
			font-size: 60px;
			font-weight: 600;
			text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
			margin-bottom: 2vh;
			line-height: 120%;
			color: #fff;

			span{
				color: $third-color;
				font-size: 60px;
				font-weight: 600;
				text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
			}

			@media (max-width:440px) {
				font-size: 45px;
				
				span{
					font-size: 45px;
				}
			}
		}

		&__text {
			color: $fouth-color;
			font-family: Rubik;
			font-size: 20px;
			font-weight: 300;
			line-height: prc(28,20);
			margin-bottom: 7vh;

			@media (max-width:440px) {
				font-size: 18px;
			}
		}

		&__button {
			a{
				display: flex;
				align-items: center;
				justify-content: center;
				column-gap: 10px;
				background-color: inherit;
				border: 1px solid $fouth-color;
				font-weight: 500;
				color: $fouth-color;
				border-radius: 10px;
				min-height: 54px;
				padding: 0 30px;
				transition: $default-trans;

				&::before{
					font-weight: 500;
					font-size: 19px;
				}

				&:hover{
					background-color: $fouth-color;
					color: $main-color;

					&::before{
						color: $main-color;
					}
				}

				@media (max-width:440px) {
					font-size: 18px;
				}

				@media (max-width:700px) {
					background-color: $main-color;
					color: #fff;
				}
			}
		}
}

.bg-img-1{
	position: absolute;
	bottom: 8vh;
	left: 7vw;
	z-index: 4;
	max-width: 150px;
	transform: scale(-1, 1);

	img{
		max-width: 100%;
	}

	@media (max-width:774px) {
		max-width: 100px;
	}
}

.bg-img-2{
	position: absolute;
	top: 8vh;
	right: 7vw;
	z-index: 4;
	max-width: 150px;

	img{
		max-width: 100%;
	}

	@media (max-width:774px) {
		max-width: 100px;
	}
}
