.blog {

	&__container {
		padding-top: 200px;
		@media (max-width: 1006px) {
			padding-top: 130px;
		}
		@media (max-width: 747px) {
			padding-top: 50px;
		}
	}

	&__title {
		text-align: center;
		@media (max-width: 920px) {
			font-size: 38px;
		}
		@media (max-width: 768px) {
			font-size: 30px;
		}
		@media (max-width: 630px) {
			text-align: center;
		}
	}

	&__subtitle {
		text-align: center;
		margin-top: 6px;
		@media (max-width: 920px) {
			font-size: 17px;
		}
		@media (max-width: 768px) {
			font-size: 16px;
		}
		@media (max-width: 630px) {
			text-align: center;
		}
	}

	&__slider {
		padding-top: 50px;
		max-width: $container-width;
		overflow: hidden;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__slide {
		display: flex;
		flex-direction: column;

	}

	&__image {
		img{
			max-width: 100%;
		}
	}

	&__text {
		max-width: 90%;
		margin-top: 21px;
		color: rgb(25, 25, 25);
		font-family: Inter;
		font-size: 26px;
		font-weight: 600;
		line-height: prc(36, 26);
		text-transform: capitalize;
		@media (max-width: 970px) {
			font-size: 20px;
		}
	}
	&__pagination{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 92px;
		@media (max-width: 842px) {
			margin-top: 35px;
		}
		span{
			width: 10px;
			height: 10px;
			border-radius: 50%;
		}
		
	}
}
.swiper-pagination-bullet{
	background: rgb(84, 94, 225, 0.3);
}
.swiper-pagination-bullet-active{
	background: rgb(84, 94, 225);
}
.swiper-container {
}
.swiper-wrapper {
}
.swiper-slide {
}
