.projects {
	&__container {
		padding-top: 150px;
		@media (max-width: 1006px) {
			padding-top: 130px;
		}
		@media (max-width: 747px) {
			padding-top: 80px;
		}
	}

	&__titles {
	}

	&__title {
		text-align: center;
		@media (max-width: 920px) {
			font-size: 38px;
		}
		@media (max-width: 768px) {
			font-size: 30px;
		}
		@media (max-width: 630px) {
			text-align: center;
		}
	}

	&__subtitle {
		text-align: center;
		margin-top: 6px;
		@media (max-width: 920px) {
			font-size: 17px;
		}
		@media (max-width: 768px) {
			font-size: 16px;
		}
		@media (max-width: 630px) {
			text-align: center;
		}
	}

	&__content {
		position: relative;
		._active-tab{
			opacity: 1;
			visibility: visible;
			position: relative;
			transform: translate(0, 0);
		}
	}

	&__tabs {
		margin-top: 58px;
		margin-bottom: 38px;
		display: flex;
		justify-content: center;
		column-gap: 30px;
		row-gap: 15px;
		flex-wrap: wrap;
		@media (max-width: 579px) {
			margin-top: 38px;
			margin-bottom: 28px;
		}
		._active{
			color: rgb(84, 94, 225);
		}
		a{
			color: rgb(178, 178, 178);
			font-weight: 400;
			line-height: prc(36,18);
			text-transform: capitalize;
			transition: $default-trans;
			&:hover{
				color: rgb(84, 94, 225);
			}
		}
		
	}

	&__all {
		display: grid;
		opacity: 0;
		position: absolute;
		visibility: hidden;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		column-gap: 20px;
		row-gap: 30px;
		transition: $default-trans;
		grid-template-areas: 'web web mobile-1'
									'mobile-2 branding branding';
	}

	&__web {
		opacity: 0;
		position: absolute;
		visibility: hidden;
		transition: $default-trans;	
	}

	&__mobile {
		display: flex;
		opacity: 0;
		position: absolute;
		visibility: hidden;
		align-items: start;
		justify-content: center;
		column-gap: 15px;
		transition: $default-trans;
	}

	&__branding {
		opacity: 0;
		position: absolute;
		visibility: hidden;
		transition: $default-trans;
	}
}
.title {
}
.subtitle {
}
.all-projects {
	&__web {
		grid-area: web;
		img{
			max-width: 100%;
		}
	}

	&__mobile-1 {
		grid-area: mobile-1;
		img{
			max-width: 100%;
		}
	}

	&__mobile-2 {
		grid-area: mobile-2;
		img{
			max-width: 100%;
		}
	}

	&__branding {
		grid-area: branding;
		img{
			max-width: 100%;
		}
	}
}
.web-projects {
	&__web {
		max-width: 100%;
		text-align: center;
		img{
			max-width: 100%;
		}
	}
}
.mobile-projects {
	&__mobile-1 {
		img{
			max-width: 100%;
		}
	}

	&__mobile-2 {
		img{
			max-width: 100%;
		}
	}
}
.branding-projects {
	&__branding {
		max-width: 100%;
			text-align: center;
			img{
				max-width: 100%;
			}
	}
}
