.reviews {
	background: rgb(141, 148, 246);
	&__container {
		display: flex;
		align-items: center;
	}

	&__content {
		flex: 0 1 50%;
	}

	&__title {
		color: rgb(255, 255, 255);
	}

	&__text {
		color: rgb(229, 229, 229);
	}

	&__slider {
		overflow: hidden;
		flex: 0 1 60%;
		max-height: 500px;
	}
}
.slider-reviews {

	&__wrapper {
		min-width: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__pagination{
		display: flex;
		row-gap: 20px;
	}
	&__slide {
		border-radius: 10px;
		box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.25);
		background: rgb(255, 255, 255);
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 460px;
		padding: 25px;
		max-height: 150px;
	}

	&__content {
		flex: 0 1 70%;
	}

	&__name {
		color: $main-color;
		font-family: Inter;
		font-size: 22px;
		font-weight: 600;
		line-height: prc(30, 22);
		text-transform: capitalize;
	}

	&__text {
		color: rgb(178, 178, 178);
		font-family: Inter;
		font-weight: 400;
		line-height: prc(28, 18);
		text-transform: capitalize;
	}

	&__img {
		img{
			max-width: 100%;
		}
	}
}

