.subscribe {
	background-color: rgb(243, 244, 255);
	border-bottom: 1px solid rgb(229, 229, 229);
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 25px;
		padding-top: 58px;
		padding-bottom: 51px;
		@media (max-width: 660px) {
			flex-direction: column;
			align-items: center;
			row-gap: 20px;
			justify-content: center;
		}
	}

	&__content {
		flex: 0 1 40%;
	}

	&__title {
		color: rgb(25, 25, 25);
		font-family: Poppins;
		font-size: 26px;
		font-weight: 600;
		line-height: prc(39, 26);
		text-transform: capitalize;
		@media (max-width: 660px) {
			text-align: center;
		}
	}

	&__text {
		color: $main-color;
		margin-top: 11px;
		font-size: 16px;
		font-weight: 500;
		line-height: prc(27, 16);
		letter-spacing: 3%;
		text-transform: capitalize;
		@media (max-width: 660px) {
			text-align: center;
		}
	}

	&__form {
		flex: 0 1 50%;
		display: flex;
		justify-content: space-between;
		border-radius: 15px;
		background: rgb(249, 252, 251);
		opacity: 0.9;
		padding: 7px;
		transition: $default-trans;
		&:focus-within{
			box-shadow: 0px 20px 35px 0px rgba(84, 94, 225, 0.22);
		}
	}

	&__email {
		flex: 0 1 100%;
		color: $main-color;
		padding: 16px;
		border-radius: 15px;
		background-color: inherit;
		font-family: Poppins;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px prc(24, 16);
	}
	&__btn{
		border: 1px solid rgb(84, 94, 225);
		color: #000;
		background-color: inherit;
		font-family: Poppins;
		font-weight: 500;
		line-height:prc(27, 18);
		transition: $default-trans;
		&:hover{
			background: rgb(84, 94, 225);
			color: rgb(255, 255, 255);
		}
		&:active{
				transform: translate(0, 2px);
		}
		border-radius: 10px;
		padding: 0 37px 0 37px;
		@media (max-width: 660px) {
			padding: 0 15px 0 15px;
		}
	}
}
